.btnBack {
  position: fixed;
  top: 15px;
  left: 15px;
  padding: 5px;
}

.pokemonInfo {
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  height: 470px;
  width: 400px;
}
.pokeDesc {
  font-size: 12px;
  margin: 4px 0;
}
.pokeImage {
  height: 170px;
}

.pokeSelect {
  color: blue;
  font-weight: bold;
}
.infoStat {
  font-size: 14px;
  color: #252525;
}
.FaibleTab {
  background-color: black;
  padding: 1px 1px 0 1px;
  width: 50px;
  margin: 2px 5px;
}
.FaibleRow {
  background-color: white;
  margin-bottom: 1px;
  text-align: center;
}

.pokeBarInfoMax {
  background-color: #8f8f8f;
  height: 15px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.pokeBarInfo {
  background-color: #2368fc;
  height: 100%;
}
.pokeBarInfoMax span {
  opacity: 0;
  transition: 250ms ease-in-out opacity;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pokeBarInfoMax:hover span {
  opacity: 1;
}
